span.icon.fa-university
h2 Próximo Evento:
img(src="assets/img/wisit15.png")
h4 Tercer Workshop de Ingeniería en Sistemas y Tecnologías de Información
p 19 de septiembre 2015
| Universidad Nacional de Quilmes
