extends ../_shared/_base_layout

append styles
    link(   href="/hero/index.css" rel="stylesheet" media="screen, projection")
append scripts
    script( src="/hero/index.js")
block content
    .hero-container
        #hero-logo
    != partial("../_shared/_navbar/_navbar")

    block featured