extends ../_shared/_base_layout
append styles
    link(   href="index.css" rel="stylesheet" media="screen, projection")
append scripts
    script( src="index.js")
block content
    .hero-container
        #hero-logo
    != partial("../_shared/_navbar/_navbar")

    != yield