body
  font-family "Roboto", sans-serif

.hero-container
  display: inline-block
  width: 100%
  height 40vh
  background url("/assets/images/people.jpg") no-repeat center center
  box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.1);
  background-size: cover
  background-attachment fixed

#hero-logo
  margin-top: 60px
  background: url("/assets/images/logo-celeste.png") no-repeat center center
  background-size: contain
  height: 200px

.mumuki-logo
  background url("/assets/images/mumuki.png") no-repeat center center
  background-size contain

.thin-languages
  background url("/assets/images/thin_languages.png") no-repeat center center
  background-size 90%
  height 100%

.featured-card
  height 250px

.navbar-logo
  height: 64px


.fixed-navbar
  position fixed
  top 0

.event-banner
  padding 20px
  width 100%
  background-color #222222
  text-align center

nav
  color: #fff;
  background-color: #494949;
  width: 100%;
  z-index: 2000;
  .mdi-navigation-menu
    color #81c0e8
  a:hover
    color white
    text-decoration underline

.transparent-nav
  background-color: rgba(0,0,0,0)
  box-shadow: none
  .navbar-logo
    visibility hidden
  .mdi-navigation-menu
    color white

footer.page-footer
  background-color #81c0e8