body
  font-family "Roboto", sans-serif

plus-sign()
  content: "+"
  font-family Arial
  font-weight 700
  color white
  z-index 2000
  font-size 15em
  margin-top 25vh

column(someImage)
  display: inline-block
  width: 33.3%
  height 100vh
  background url("/assets/images/"+someImage+".jpg") no-repeat 50% 50%
  background-size cover

.column-left
  column("industry")
  float: left
  box-shadow: inset 0 0 0 1000px rgba(255,255,64,0.6);

.column-right
  column("research")
  float: right
  box-shadow: inset 0 0 0 1000px rgba(255,137,198,0.5);

.column-center
  column("education")
  width: 33.4%
  box-shadow: inset 0 0 0 1000px rgba(159,171,255,0.5);
  ::before
    plus-sign()
    margin-right -62px
    float: right
  ::after
    plus-sign()
    margin-left -62px
    float: left

.center-block-container
  width 100%
  position absolute
  text-align center
  color white
  top 5vh
  .inner-block
    display inline-block
    width 33%