doctype
html
    head
        link( href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css')
        link(   href="/assets/build/build.css" rel="stylesheet" )

        block styles
            link(   href="/assets/vendors/css/materialize.min.css" rel="stylesheet" media="screen, projection")
            link(   href="index.css" rel="stylesheet" media="screen, projection")

        script( src="/assets/build/build.js")

        script.
            var jQuery = require("components~jquery@2.1.3");
            var $ = jQuery;

        block scripts
            script( src="/assets/vendors/js/materialize.min.js")
            script( src="/assets/vendors/js/jquery.scrollfire.min.js")

    body
        .hero-container
            #hero-logo

        != partial("../_shared/_navbar/_navbar")

        #card-pillars-container.row
            each card in public.hero._data.cards
                .col.s12.m4
                    .card(class="#{card.background}")
                        .card-image
                            img(src="/assets/images/#{card.image}")
                        .card-content.white-text
                            span.card-title #{card.title}
                            p #{card.description}
                        .card-action
                            a(href='#') This is a link


        !=partial("../_shared/_footer/_footer")
