doctype
html
    head
        link( href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css')
        link(   href="/assets/build/build.css" rel="stylesheet" )

        block styles
            link(   href="/assets/vendors/css/materialize.min.css" rel="stylesheet" media="screen, projection")
            link(   href="index.css" rel="stylesheet" media="screen, projection")

        block scripts
            script( src="/assets/build/build.js")
            script( src="index.js")
            script( src="/assets/vendors/js/materialize.min.js")
            script( src="/assets/vendors/js/jquery.scrollfire.min.js")

    body
        .hero-container
            #hero-logo

        nav.fixed-navbar.transparent-nav(role='navigation')
            .nav-wrapper.container
                a#logo-container.brand-logo(href='#')
                    img.navbar-logo(src="/assets/images/logo-celeste.png")

                ul.right.hide-on-med-and-down
                    each section in public.shared.menu._data.sections
                        li
                            a(href="#{ section.path }") #{section.label}

                ul#nav-mobile.side-nav
                    each section in public.shared.menu._data.sections
                        li
                            a(href="#{ section.path }") #{section.label}

                a.button-collapse(href='#', data-activates='nav-mobile')
                    i.mdi-navigation-menu

        #card-pillars-container.row
            .col.s12.m4
                .card.deep-purple.darken-4
                    .card-image
                        img(src="/assets/images/industry.jpg")
                    .card-content.white-text
                        span.card-title Industry
                        p
                            | I am a very simple card. I am good at containing small bits of information.
                            | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
                        a(href='#') This is a link
            .col.s12.m4
                .card.purple.accent-4
                    .card-image
                        img(src="/assets/images/education.jpg")
                    .card-content.white-text
                        span.card-title Education
                        p
                            | I am a very simple card. I am good at containing small bits of information.
                            | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
                        a(href='#') This is a link
            .col.s12.m4
                .card.teal.darken-3
                    .card-image
                        img(src="/assets/images/research.jpg")
                    .card-content.white-text
                        span.card-title Research
                        p
                            | I am a very simple card. I am good at containing small bits of information.
                            | I am convenient because I require little markup to use effectively.
                    .card-action
                        a(href='#') This is a link
                        a(href='#') This is a link

        footer.page-footer
            .container
                .row
                    .col.l6.s12
                        h5.white-text Footer Content
                        p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
                    .col.l4.offset-l2.s12
                        h5.white-text Links
                        ul
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 1
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 2
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 3
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 4
            .footer-copyright
                .container
                    | © 2014 Copyright Text
                    a.grey-text.text-lighten-4.right(href='#!') More Links

        script(type='text/javascript').
            $(".button-collapse").sideNav();

            var options =
                {
                    offset: 00,
                    onTopHidden: function( elm, distance_scrolled ) {
                        $('nav').removeClass('transparent-nav');
                    },
                    onTopIn:function(){$('nav').addClass('transparent-nav');}
                };
            $('#hero-logo').scrollfire(options);