.container.featured
    .row.note
        .col-md-6.description
            h3 Thin Languages
            p Open Workshop, Intro to Language Development: Tools and Environment Configuration, Scala, Grammars and Parsers
        .col-md-6.video
            img(src="/assets/images/image_mockup.png")

    .row.note
        .col-md-7.video
            iframe(width="560" height="315" src="https://www.youtube.com/embed/H1IMqStZRVw" frameborder="0" allowfullscreen)
        .col-md-5.description
            h3 Wollok
            p Charla de Javier Fernandes, Nicolás Passerini y Pablo Tesone acerca de Wollok, una herramienta para enseñar programación orientada a objetos basada en Eclipse y xTend, y en las experiencias previas con Ozono.

div(style="background-color:#f4f4f4")
    .container.note
        .row
            .col-md-12.description
                h3 Why a foundation?
                p Uqbar is an independent group, working together with people and entities who are interested in the same subjects. Everybody who is part of uqbar has decision power and we build our way to make the things work out.
