.container-fluid
    .row
        #slider1_container(style='position: relative; margin: 0 auto;top: 0px; left: 0px; width: 1300px; height: 400px; overflow: hidden;')
            div(u='slides', style='cursor: move; position: absolute; left: 0px; top: 0px; width: 1300px;height: 400px; overflow: hidden;')
                div
                    .people-image(u='image', src='/assets/images/people.jpg')
                    .people Uqbar is a foundation whose concern is to push innovation and spread the voice on computer science.
                div
                    img(u='image', src='/assets/images/research.jpg')
            .jssorb21(u='navigator', style='bottom: 26px; right: 6px;')
                div(u='prototype')
            span.jssora21l(u='arrowleft', style='top: 123px; left: 8px;')
            span.jssora21r(u='arrowright', style='top: 123px; right: 8px;')
