extends _layout

block content
    != partial('_slider')
    != partial('_pillars')
    .banner-wisit
        .wisit-logo

    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    h2 d
    .featured
    .news
    .footer
