nav.fixed-navbar.transparent-nav(role='navigation')
    .nav-wrapper.container-fluid
        a#logo-container.brand-logo(href='#')
            img.navbar-logo(src="/assets/images/logo-celeste.png")

        ul#nav-fixed.right.hide-on-med-and-down
            != partial("../_menu/_menu")

        ul#nav-mobile.side-nav
            != partial("../_menu/_menu")

        a.button-collapse(href='#', data-activates='nav-mobile')
            i.mdi-navigation-menu