extends _layout

block featured

    #card-pillars-container.row
        each card in public.home2._data.cards
            .col.s12.m4
                .card
                    .card-content.grey-text
                        span.card-title.blue-grey-text #{card.title}
                        p #{card.description}

    .event-banner
        p Sumate al taller de lenguajes the THIN LANGUAGES

    .twitter-widget
            !=partial("../widgets/_twitter")

